{#This is the base twig which represents the site template#}
<!DOCTYPE html>

{#TODO language#}
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="title" content="{% block meta_title %}{% endblock %}"/>
    <meta name="og_title" content="{% block meta_og_title %}{% endblock %}"/>
    <meta name="description" content="{% block meta_description %}{% endblock %}"/>
    <meta name="og_description" content="{% block meta_og_description %}{% endblock %}"/>
    <meta name="image" content="{% block meta_image %}{% endblock %}"/>


    <title>{% block title %}Markety{% endblock %}</title>

    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('assets/vendor/bootstrap/dist/css/bootstrap.min.css') }}">
        {% block stylesheets_custom %} {% endblock %}
    {% endblock %}

    {% block javascripts %}
        <script src="{{ asset('assets/vendor/jquery/dist/jquery.min.js') }}"></script>
        {% block javascripts_custom %} {% endblock %}
    {% endblock %}

    <style>
        /* Set black background color, white text and some padding */
        footer {
            background-color: #555;
            color: white;
            padding: 15px;
        }
    </style>

</head>

<body id="{% block body_id %}{% endblock %}">

    {% block header %}

    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Logo</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Home</a></li>
                    <li><a href="#">Messages</a></li>
                </ul>
                <form class="navbar-form navbar-right" role="search">
                    <div class="form-group input-group">
                        <input type="text" class="form-control" placeholder="Search..">
                        <span class="input-group-btn">
                <button class="btn btn-default" type="button">
                  <span class="glyphicon glyphicon-search"></span>
                </button>
              </span>
                    </div>
                </form>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#"><span class="glyphicon glyphicon-user"></span> My Account</a></li>
                </ul>
            </div>
        </div>
    </nav>

    {% endblock header %}


<div class="container text-center">

    {% block body %}


    {% endblock body %}
</div>

{% block footer %}
    <footer class="container-fluid text-center">
        <p>Footer Text</p>
    </footer>
{% endblock footer %}

</body>
</html>