{% block head %}
<html>
<head>
    <title>{% block title %} {% endblock %}</title>
</head>
{% endblock head %}

<body>
<h2>
    {% block page_header %} {% endblock %}
</h2>

{% block content %}
{% endblock %}

{% block footer %}
<footer style="position: absolute; width: 100%; height: 10%; background-color: dodgerblue; bottom: 0px; text-align: center; vertical-align: middle; ">
    Welcome from Doried & Bana
</footer>
{% endblock %}
</body>
</html>